footer {
    background-color: #FAF8F2;
    padding: 0.5rem;
    position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    text-align: center;
}

footer p, 
footer p a {
    color: #262626;
    cursor: pointer;
    font-size: 0.75rem;
    text-decoration: none;
}

footer p a:hover {
    color: #886D52;
    font-weight: 700;
}