footer {
    background-color: #ffffff;
    border-top: 1px solid rgba(0, 0, 0, 0.18);
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p,
footer p a {
    color: #262626;
    cursor: pointer;
    font-size: 0.75rem;
    text-decoration: none;
}

footer p a:hover {
    color: #886D52;
    font-weight: 700;
}

@media only screen and (min-width: 900px) {
    footer p, footer p a {
        font-size: 0.65rem;
    }
}