/* 
    $black:        #161310;
    $darkGray:     #262626;
    $gray:         #4B4B4B;
    $brown:        #886D52;
    $gold:         #D3AD6E;
    $lightGold:    #FDDA9D;
    $lighterGold:  #FEECCD;
    $offWhite:     #FAF8F2;
    $error:        #E11D1D;
    $success:      #6CBE19; 
*/