.change-pw-button {
    background-color: transparent;
    border: 1px solid #D3AD6E;
    border-radius: 2rem;
    color: #D3AD6E;
    font-size: 1.6rem;
    height: 3rem;
    margin: 2rem auto;
    width: 20rem;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.change-pw-button:hover {
    background-color: #FEECCD;
    border: 1px solid #D3AD6E;
    color: #4B4B4B;
}

@media only screen and (min-width: 900px) {
    .change-pw-button {
        font-size: 1.25rem;
    }
}