nav {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    font-family: "Manrope", "Montserrat", "Helvetica", "Arial", sans-serif;
    padding: 0 24px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 75px;
    width: 100%;
    z-index: 5;
}

nav .project-name {
    font-size: 20px;
    display: block;
}

nav .project-name:hover {
    color: #D3AD6E;
}

nav .menu-btn {
    padding: 5px;
    position: relative;

    cursor: pointer;
    height: 40px;
    width: 40px;
}

nav .menu-btn img {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

nav .menu-dropdown {
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px;
    display: flex;
    flex-direction: column;
    transition: .2s ease-in;
    padding: 10px 24px;

    width: 100%;
    z-index: 4;

    position: absolute;
        top: 75.5px;
        right: 0;
}

nav .menu-dropdown a {
    display: block;
    font-size: 1.25rem;
    transition: all 0.2s ease-in,
}

nav .menu-dropdown a:not(:last-child) {
    margin-bottom: 1rem;
}

nav .menu-dropdown a:hover {
    color: #D3AD6E;
}

@media only screen and (min-width: 600px) {
    nav .menu-dropdown {
        width: 40%;
    }
}

@media only screen and (min-width: 900px) {
    nav {
        padding: 0 40px;
    }

    nav .menu-dropdown {
        padding: 10px 40px;
    }

    nav .menu-dropdown a {
        font-size: 1rem;
    }

    nav .menu-dropdown {
        width: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    nav .menu-dropdown a {
        font-size: 1.25rem;
    }
}